
//<nullstyle>==================================================
@import "nullstyle.scss";
//</nullstyle>==================================================

//<mixins>==================================================
@import "mixins";
//</mixins>==================================================

//<fonts>==================================================
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');
//</fonts>==================================================

//<variables>==================================================
$ff: Montserrat;
$orangeColor: #BF9140;
$greyColor: #8B929A;
$blueGradientColor: linear-gradient(90.38deg, #245293 0%, #4485E4 100%);
$orangeGradientColor: linear-gradient(90.38deg, #D55707 0%, #F59902 100%);
//</variables>==================================================

//<main>==================================================
* {
    font-family: $ff;
}
body {
    overflow-x: hidden;
    z-index: -2;
    background-image: url("/img/bg.png");
    height: 4500px;

}

.header__menu {
    .header__logo {
        width: 75px;
        height: 134px;
        margin-left: 12%;
        z-index: 1;
        &_img {
            margin-top: 0.6%;
            
        }
    }
    .menu__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 32%;
        margin-left: 34.4%;
        position: absolute;
        // background: $blueGradientColor;
        // border-radius: 5px;
        top: 7%;
        .menu__item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 0px 13px;
            padding: 5px 0px;
            &_link {
                color: #fff;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                &:hover {
                    color: $orangeColor;
                }
            }
        }
    }
}
.page__main-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .page__main-text {
        width: 35%;
        margin-left: 8%;
        margin-top: 5%;
        &_title {
            font-style: normal;
            font-weight: 500;
            font-size: 48px;
            line-height: 59px;
            color: #fff;
            width: 473px;
            height: 59px;
        }
        &_desc  {
            margin-top: 5%;
            width: 75%;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 150%;
            color: #fff;
        }
        .page__main_btn {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin: 2% 0;
            padding: 5px 160px;
            top: 20px;
            width: 441px;
            height: 70px;
            color: #fff;
            background: $blueGradientColor;
            border-radius: 5px;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 29px;
        }
        .page__main_btn:hover {
            box-shadow: 0px 0px 50px #D55707;
            background: $orangeGradientColor;
        }
    }
    .page__main-img {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 10%;
    }
    .page__main-more {
        margin-top: 5%;
        margin-left: 48.5%;
        &_text {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            color: $greyColor;
        }
        &_icon {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-left: 31.5%;
            margin-top: 5%;
        }
    }
}
.page__rules {
    .page__rules_title {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 5%;
        margin-left: -0.8%;
        width: 86%;
        height: auto;
        font-style: normal;
        font-weight: 900;
        font-size: 288px;
        line-height: 351px;
        letter-spacing: 0.007em;
        color: #09111B;
        text-shadow: $greyColor 0 0 0;
    }
    .rules__container {
        display: flex;
        flex-wrap: wrap;
        // justify-content: center;
        margin-top: 5%;
        margin-left: 9.15%;
        &_title {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            height: 5%;
            width: 91%;
            color: red;
            margin-bottom: 2%;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 22px;
        }
        .rules__list {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            color: #fff;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.007em;
            width: 81.5%;
            &_item {
                margin-top: 2%;
                list-style-image: url("/img/list-icon.svg");
                list-style-position: outside;
            }
        }
        

    }
}
.page__prices {
    .price__title {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 5%;
        margin-left: -0.8%;
        width: 86%;
        height: auto;
        font-style: normal;
        font-weight: 900;
        font-size: 288px;
        line-height: 351px;
        letter-spacing: 0.007em;
        color: #09111B;
        text-shadow: $greyColor 0 0 0;
    }
    .donate-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 5%;

        .donate-block__vip {
            display: flex;
            flex-wrap: wrap;
            width: 382px;
            height: 699px;
            background: #172536;
            margin-left: 1%;
            &_title {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 10%;
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
                color: #fff;
            }
            .privilege__name {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                width: 100%;
                height: 8%;
                font-style: normal;
                font-weight: bold;
                font-size: 48px;
                line-height: 59px;
                color: #204B89;
            }
            .select {
                position: relative;
                display: block;
                margin-left: 5%;
                min-width: 220px;
                width: 90%;
                max-width: 400px;
                margin-bottom: 100%;
                height: 7%;
                background: #12161C;
                border-radius: 10px;
                .select__head {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: start;
                    width: 100%;
                    max-width: 100%;
                    border-radius: 10px;
                    padding: 14px 15px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    color: #fff;
                    cursor: pointer;
                    &::after {
                        width: 20px;
                        height: 12px;
                        background: url("/img/arrow-icon.svg") no-repeat center / cover;
                        position: absolute;
                        right: 10px;
                        bottom: 50%;
                        transform: translateY(50%);
                        content: '';
                        display: block;
                        transition: .2s ease-in;
                    }
                } 
                .select__head.open::after {
                    transform: translateY(50%) rotate(180deg);
                }
                .select__list {
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    right: 0;
                    background: #12161C;
                    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
                    border-radius: 10px;
                    margin-top: 5px;
                    max-height: 205px;
                    overflow-x: hidden;
                    overflow-y: auto;
                    z-index: 100;
                    margin: 0;
                    padding: 0;
                    font-size: 14px;
                    color: #fff;
                    scrollbar-color: dark;
                    scrollbar-width: thin;
                    overscroll-behavior: contain;
                }
                .select__list::-webkit-scrollbar {
                    width: 7px;
                    background-color: #F8F9FA;
                    padding: 5px;
                }
                .select__list::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    background-color: #D9D9D9;
                }
                .select__list {
                    .select__item {
                        position: relative;
                        border-top: 1px solid rgba(224, 229, 231, 0.5);
                        padding: 10px 15px;
                        cursor: pointer;
                        list-style-type: none;
                        &:hover {
                            background-color: rgba(224, 229, 231, 0.5);
                        }
                    }
                }
            }
            .privilege-vip {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                width: 100%;
                height: 5%;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #8B929A;
                margin-top: -100%;
                margin-left: 5.3%;
            }
            .privilege-vip__list {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: -98%;
                margin-right: 20%;
                height: 40%;
                &_item {
                    list-style-image: url("/img/plus-list.svg");
                    list-style-position: outside;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                    color: #FFFFFF;
                }
            }
        }
        .donate-block__admin {
            display: flex;
            flex-wrap: wrap;
            width: 382px;
            height: 699px;
            background: #172536;
            margin-left: 5%;
            &_title {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 10%;
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
                color: #fff;
            }
            .privilege__name {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                width: 100%;
                height: 8%;
                font-style: normal;
                font-weight: bold;
                font-size: 48px;
                line-height: 59px;
                color: #bb4408;
            }
            .select {
                position: relative;
                display: block;
                margin-left: 10%;
                min-width: 220px;
                width: 80%;
                max-width: 400px;
                margin-bottom: 100%;
                height: 7%;
                background: #12161C;
                border-radius: 10px;
                .select__head {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: start;
                    width: 100%;
                    max-width: 100%;
                    border-radius: 10px;
                    padding: 14px 15px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    color: #fff;
                    cursor: pointer;
                    &::after {
                        width: 20px;
                        height: 12px;
                        background: url("/img/arrow-icon.svg") no-repeat center / cover;
                        position: absolute;
                        right: 10px;
                        bottom: 50%;
                        transform: translateY(50%);
                        content: '';
                        display: block;
                        transition: .2s ease-in;
                    }
                } 
                .select__head.open::after {
                    transform: translateY(50%) rotate(180deg);
                }
                .select__list {
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    right: 0;
                    background: #12161C;
                    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
                    border-radius: 10px;
                    margin-top: 5px;
                    max-height: 205px;
                    overflow-x: hidden;
                    overflow-y: auto;
                    z-index: 100;
                    margin: 0;
                    padding: 0;
                    font-size: 14px;
                    color: #fff;
                    scrollbar-color: dark;
                    scrollbar-width: thin;
                    overscroll-behavior: contain;
                }
                .select__list::-webkit-scrollbar {
                    width: 7px;
                    background-color: #F8F9FA;
                    padding: 5px;
                }
                .select__list::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    background-color: #D9D9D9;
                }
                .select__list {
                    .select__item {
                        position: relative;
                        border-top: 1px solid rgba(224, 229, 231, 0.5);
                        padding: 10px 15px;
                        cursor: pointer;
                        list-style-type: none;
                        &:hover {
                            background-color: rgba(224, 229, 231, 0.5);
                        }
                    }
                }
            }
            .privilege-admin {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                width: 100%;
                height: 5%;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                color: #8B929A;
                margin-top: -100%;
                margin-left: 5.3%;
            }
            .privilege-admin__list {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;
                margin-top: -98%;
                margin-right: 12%;
                height: 40%;
                &_item {
                    list-style-image: url("/img/plus-list.svg");
                    list-style-position: outside;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                    color: #FFFFFF;
                }
            }
        }
    }
}











//</main>==================================================