// @media (min-width: 1920.98px) {
//     .header__menu {
//         .menu__list {
//             top: 1.5%;
//             .menu__item {
//                 &_link {
//                     font-size: 32px;
//                 }
//             }
//         }
//     }
// }
@media (max-width: 1919.98px) {
    .header__menu { 
        top: 0px;
        .menu__list {
           width: 50%;
           top: 4.5%;
        }
    }
    .page__main-block {
        .page__main-text {
            display: flex;
            flex-wrap: wrap;
            width: 38%;
            height: 25%;
            margin-left: 5rem;
            &_title {
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 3rem;
            }
            .page__main_btn {
                width: 80%;
                height: 70px;
            }
        }
        .page__main-img {
            width: 40%;
            height: 40%;
            z-index: -1;
            display: flex;
            flex-wrap: wrap;
            margin-left: 13rem;
            margin-bottom: 5%;
        }
        .page__main-more {
            margin-top: 3.5%;
        }
    }
    .page__rules {
        .page__rules_title {
            font-size: 245px;
            line-height: 291px;
        }
        .rules__container {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .page__prices {
        .price__title {
            font-size: 245px;
            line-height: 291px;
        }
    }
    .popup {
        .popup__content {
            width: 65%;
        }
    }
    .page__contacts {
        .contacts__title {
            font-size: 214px;
            line-height: 300px;
        }
        .contacts-block__title {
            font-size: 28px;
        }
        .contacts-block__buttons {
            .btn__item-link_telegram {
                width: 25%;
            }
            .btn__item-link_discord {
                width: 25%;
            }
        }
    }
}
@media (max-width: 1280px) {
    .page__main-block {
        margin-top: 5%;
        .page__main-more {
            margin-top: 10%;
        }
    }
}




// @media (min-width: 576px) and (max-width: 767.98px) {
   
// }

// @media (min-width: 768px) and (max-width: 991.98px) {
    
   
// }

// @media (min-width: 992px) and (max-width: 1431.98px) {
   
// }